* {
    box-sizing: border-box;
  }
  
  :root {
    --background-size: min(100vw, 40em);
  }
  
  html {
    font-size: calc(100% + 0.5vw);
  }
  
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition-duration: 0.001s !important;
    }
  }
  
  .container {
    background: linear-gradient(100deg, #402, #006);
    padding: 2em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-group {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-bottom: 10px;
  }
  
  .input-group__input {
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    border-style: none;
    outline: none;
    height: calc(1em + 1.6em + 0.5em);
    width: 100%;
    text-align: center;
    padding: 0.8em 1em;
    margin-right: 150px;
    border: 0.25em solid white;
    border-radius: 1.8em;
  }

.inputs-container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo-title{
    font-size: 1em; /* Ajusta el tamaño según tus necesidades */
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.register-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2em;
}

.custom-button{
    margin-top: 40px;

}

.smalltext{
    font-size: medium;
    font-weight: 100;
}

.custom-button {
    width: 80%;
    max-width: 20em;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 0.8em 1em;
    border-radius: 1.8em;
    border: 2px solid white
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

