.round-image {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px; /* Mantén la proporción de la imagen */
    border-radius: 50%;
    object-fit: cover; /* Esto asegura que la imagen no se distorsione */
    border: 2px solid #ddd; /* Borde para mejorar la visibilidad */
}

.image-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si la tarjeta tiene altura definida */
    padding-top: 20px; /* Opcional: agrega espacio superior para separar la imagen */
}

.logout-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-title {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 20px; /* Opcional: espacio superior */
    font-size: 18px; /* Tamaño de texto ajustado */
    font-weight: bold; /* Nombre en negrita */
    color: #333; /* Color de texto */
}

.text-aling{
    text-align: center;
  display: block;
  width: 100%;
  margin-top: 10px;
} 

.ion-items {
    margin: 0;
}


ion-card {
    --ion-background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
