.category-title {
    font-size: 1.5em; /* Aumenta el tamaño */
    font-weight: bold; /* Aplica negrita */
    margin: 0;
    padding-top: 10px;
}

.carousel-container {
    margin-left: 5px; /* Ajusta este valor según lo que necesites */
}

.card {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 380px; /* Ajusta el alto según tus necesidades */
    overflow: hidden; /* Para que el contenido no se desborde */
    --ion-background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: -90px;
}


.card-title {
    font-size: 1.5em; /* Ajusta el tamaño del título */
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Para cortar el texto con "..." si es muy largo */
}

.card-subtitle, .card-rating, .card-votes {
    font-size: 0.5em; /* Tamaño más pequeño para subtítulos */
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


