.category-title {
    font-size: 1.5em; /* Aumenta el tamaño */
    font-weight: bold; /* Aplica negrita */
}

.carousel-container {
    margin-left: 5px; /* Ajusta este valor según lo que necesites */
}

.card {
    width: 250px; /* Ajusta el ancho según tus necesidades */
    height: 400px; /* Ajusta el alto según tus necesidades */
    overflow: hidden; /* Para que el contenido no se desborde */
}

.card-title {
    font-size: 1.5em; /* Ajusta el tamaño del título */
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Para cortar el texto con "..." si es muy largo */
}

.card-subtitle, .card-rating, .card-votes {
    font-size: 0.5em; /* Tamaño más pequeño para subtítulos */
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


